
.spider-repos-row {
  height: 300px;
}

.list-group-spider {
  height: 100%;
  overflow-y: auto;
}

.list-group-item-spider {
  padding: .4rem .6rem;
}

.spider-list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  overflow-y: scroll;
  height: 200px;
}

.spider-list li {
  display: block;
}

.spider-codebrowser {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 250px 50px 250px 40px;
  border: 1px solid black;
}

.spider-codebrowser > * {
  border: 1px solid black;
}

.spider-codebrowser .controls {
  grid-column-start: 1;
  grid-column-end: 5;
}

.spider-codebrowser .source {
  grid-column-start: 1;
  grid-column-end: 5;
  height: 100%;
}

.spider-codebrowser .source pre {
  margin: 0;
  padding: .3em;
  height: 100%;
}

.spider-codebrowser .footer {
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 4px;
}
